.header__email {
  padding-top: 6px;
  margin: 0;
  margin-left: 24px;
  list-style-type: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.header__email:first-child {
  margin-left: 0;
}