.profile__avatar {
  max-width: 120px;
  max-height: 120px;
  border-radius: 60px;
}

.profile__avatar:hover {
  /*background-image: url(../../../images/Editavatar.png);*/
  opacity: 0.2;
  
}

@media screen and (max-width: 710px){
  .profile__avatar {
    
  }
}