.element__remove {
  position: absolute;
  left: 90%;
  top: 4%;
  border: none;
  cursor: pointer;
  min-width: 18px;
  height: 19px; 
  background-color: inherit;
  box-shadow: none;
  object-fit: contain;
  background-repeat: no-repeat;
  background-image: url(../../../images/remove.svg);
  display: none;
}

.element__remove:hover {
  opacity: 0.6; 
  transition: 0.2s linear 0.1s;
}
