.popup__container {
  position: relative;
  margin: auto;
  background-color: white;
  color: black;
  max-width: 430px;
  width: 100%;
  border-radius: 10px;  
}

@media screen and (max-width: 520px){
  .popup__container {
    max-width: 380px;
  }
}

@media screen and (max-width: 470px){
  .popup__container {
      max-width: 290px;
  }
}

@media screen and (max-width: 330px){
  .popup__container {
    max-width: 250px;
  }
}
