@import url(./__logo/header__logo.css);
@import url(./__email/header__email.css);
@import url(./__signconteiner/header__signconteiner.css);
@import url(./__signout/header__signout.css);
@import url(./__signin/header__signin.css);

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 882px;
  min-height: 74px;
  margin: auto;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1030px){
  .header {
    padding-top: 28px;
  }
}

@media screen and (max-width: 330px){
  .header {
    min-height: 56px;
  }
}
