.popup__save {
  color: white;
  margin: 48px 0 36px;
  width: 100%;
  min-height: 50px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  background-color: #000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;      
}

.popup__save:hover {
  background: rgba(0, 0, 0, 0.8);
  transition: 0.2s linear 0.1s;
}